@{
    ViewBag.Title = "Про нас";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Ми хочемо спростити підбір та купівлю окулярів для Вас.</p>
<p>З системою перевірки зору працювали люди, </br>котрі закінчили відповідні курси та мають певний досвід роботи у цій сфері. </br>Проте система підбору окулярів несе виключно рекомендаційний характер. </br>Надіємся, що наша система допоможе Вам зберегти час, гроші та хороший зір. </p>
<div>

</div>
