@{
    ViewBag.Title = "Контакти";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Також Ваші питання та пропозиції можна надіслати на електронну адресу<br />
    andrew.lion.ki14@rambler.ru<br />
   
</address>

