@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Домашня сторінка</h1>
    <p class="lead">Вступна інформація</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Визначення зору</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="/Home/Define">Почати &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Обрати окуляри самостійно</h2>
        <p>Якщо Ви знаєте технічні характеристики окулярів які Вам потрібно</p>
        <p><a class="btn btn-default" href="/Home/GlassesList">Обрати &raquo;</a></p>
    </div>
   
</div>