@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Підбір окулярів онлайн</h1>
    <p class="lead">У нас Ви можете перевірити різкість зору та підібрати відповідні окуляри</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Визначення зору</h2>
        <p>Для тих, хто не знає потрібної діоптрії окулярів.
            
        </p>
        <p><a class="btn btn-primary" href="/Home/Instractions">Почати &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Обрати окуляри самостійно</h2>
        <p>Якщо Ви знаєте характеристики потрібних Вам окулярів.</p>
        <p><a class="btn btn-primary" href="/Home/GlassesList">Обрати &raquo;</a></p>
    </div>
</div>