@{
    ViewBag.Title = "Інструкції";
}

<h2>Попередні інструкції</h2>
<div>
    jlyb</br>asdfasdfasdfsdfsdfsd
</div>
<div>
    asdf
</div>
<div>
    asdf
</div>
<div>
    <p><a class="btn btn-default" href="/Home/Define">Почати перевірку&raquo;</a></p>
</div>
