@{
    ViewBag.Title = "Інструкції";
}

<h2>Попередні інструкції</h2>
<div>
    Підбір окулярів онлайн розрахований для визначення додатньої діоптрії лінз від +0.5 до +3.5 
</div>
<div>
    для роботи на близькій відстані (читання, вишивання і т.д.).
    <br />
    <br />
</div>
 <div>
    Для зменшення похибки визначення необхідно дотримуватись двох простих правил:
</div>
<div>
    1) Відстань очей від екрану повинна бути 30-35 см;
</div>
<div>
    2) Як тільки картинка буде розмита натискати відповідну кнопку.
    <br />
    <br />
</div>


<div>
    Увага ! Підбір окулярів онлайн не для людей зі складними вадами зору (катаракта, глаукома, 
<br/>
    великою різницею, більшою діотрією ніж +3.5).
</div>
<div>
    Визначення потрібної діоптрії окулярів несе рекомендований характер.
</div>

<div>
    <p><a class="btn btn-primary" href="/Home/Define">Почати перевірку&raquo;</a></p>
</div>
